<ion-content class="ioncontent">
  <div class="container">
    <div class="screen">
      <div *ngIf="error" class="error"> 
        <span>{{ error }}</span> 
        <ion-icon slot="end" name="close" (click)="close()"></ion-icon>
      </div>
      <div class="screen__content">
        <form class="login" #form="ngForm" (ngSubmit)="login(form)" method="post">
          <div class="tilte"> <span class="titleApp">Manage</span> <span class="titleApp2">App</span></div>
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input (click)="close()" type="text" [(ngModel)]="user.name" name="nom" class="login__input"  placeholder="User name / Email">
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input (click)="close()" type="password" [(ngModel)]="user.password" name="password " class="login__input"  placeholder="Password">
          </div>
          <button class="button login__submit"  type="submit" >
            <span class="button__text"  type="submit" >Connexion</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>
        </form>
        <div class="social-login">
          <h3 [routerLink]="['/register']"> S'inscrire </h3>
          <div class="social-icons">
            <a href="#" class="social-login__icon fab fa-instagram"></a>
            <a href="#" class="social-login__icon fab fa-facebook"></a>
            <a href="#" class="social-login__icon fab fa-twitter"></a>
          </div>
        </div>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>
    </div>
  </div>
</ion-content>