.error{
	padding: 10px;
    border: 1px solid rgb(219, 1, 1);
    border-radius: 5px;
    position: absolute;
    top: 86px;
    left: 8px;
    margin-bottom: 20px;
    z-index: 9;
	gap: 28px;
	right: 13px;
    color: rgb(219, 1, 1);
    display: flex;
    justify-content: space-between;
}

