<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear">
      <ion-button (click)="logout()" fill="clear">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-button>
    <ion-title>{{user.name}}</ion-title>
    <ion-button slot="end" fill="clear">
      <div class="profile"> {{user.name.charAt(0).toUpperCase()}} </div>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="head">
    <p class="initial"> Consultez votre historique d'entree / sortie </p>
  </div>
  <div class="main-containt">
    <ion-title class="main-title" *ngFor="let item of a">
        <ion-label>
          <h2 class="main-h2">{{item.date1}}</h2>
        </ion-label>
        <ion-list>
          <ion-item *ngFor="let o of item.op" class="tab">
            <ion-label>
              <h2>{{o.intitul}}</h2>
            </ion-label>
            <ion-label>
              <h2>{{o.montant}}</h2>
            </ion-label> 
            <ion-label>
              <h2>{{o.type}}</h2>
            </ion-label>
            <ion-label class="delete" slot="end">
              <ion-icon slot="end" name="close" (click)="delet(o)"></ion-icon>
            </ion-label>
          </ion-item>
        </ion-list> 
        <br>
    </ion-title>
    
  </div>

</ion-content>
