* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}

.row {
  padding: 5px;
}

.element {
  width: 95%;
  padding: 20px;
  margin: 10px auto;
  border-radius: 0px 40px 0px 40px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3);
}

.box {
  height: 150px;
  width: 150px;
  border-radius: 20px;
  margin: 20px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3);
}

.r1 {
  color: #ffffff;
}

.e1 {
  background-color: aquamarine;
}

.r2 {
  color: #ffffff;
}

.e2 {
  background-color: #776BCC;
}

.r3 {
  color: #000000;
}

.e3 {
  background-color: #fff;
}

.r4 {
  color: #ffffff;
  margin-bottom: 20px;
}

.e4 {
  background-color: #776BCC;
}

.col {
  background-color: #776BCC;
}

.persoion {
  position: fixed;
  z-index: 20;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #6C63AC;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10%;
  bottom: 5%;
  font-size: 2.5em;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3);

}

.budbget {
  color: #6C63AC;
  font-size: 1.5em;
  margin: 15px 0px;
  padding: 10px;
  border: 1px solid #6C63AC;
  border-radius: 10px;
}

.card {
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
}

.depense {
  font-size: 1.6em;
  margin-bottom: 5px;
}

.montant {
  font-size: 2em;
  font-weight: bold;
}

.head {
  padding: 15px 20px;
}

.initial {
  padding: 10px 0px;
  color: #6C63AC;
  font-size: 1.5em;
}

.texte {
  font-size: 1.3em;
  margin: 10px 0px;
  color: grey;
}

img {
  height: 250px;
}

.profile {
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6C63AC;
}

ion-modal {
  .ion-header {
    ion-toolbar {
    --background: #6C63AC;
    --color: white;
    text-align: center;
    }
  }
  ion-content {
    --background: #d8d5ec;
    ion-item {
      --background: #d8d5ec;
      margin: 2%;
    }
  }
  
}
.color {
  --background: #9538ff;
}